[sources.sql_database.credentials]
drivername = "postgresql+psycopg2"
database = "ecommerce"
username = "ecommerce"
password = "<postgres-password>"
host = "localhost"
port = 5433

[destination.snowflake.credentials]
database = "DATA_LAB"
username = "LOADER"
password = "<snowflake-password>"
host = "<organization-account>"
warehouse = "SNOWFLAKE_LEARNING_WH"
role = "DLT_LOADER_ROLE"